  {% extends 'authority/authindex.html' %}
{% block body %}
<body>
 <div style="overflow: scroll">
      <table class="table table-bordered table-hover table-striped">
    <tr>
      <td>
      <input type="text" placeholder="Search by name" name="textfield" id="textfield" class="form-control" /></td>
      <td><input type="submit" class="btn btn-success" name="button" id="button" value="Search" /></td>
    </tr>
  </table>
  <table class="table table-bordered table-hover table-striped">
    <tr>
{#      <td>Sl/No</td>#}
      <td>Name</td>
      <td>Photo</td>
    </tr>
{#     {% for i in data %}#}
      <tr>
{#      <td></td>#}
      <td id="nm"></td>
      <td id="ph"></td>
{#      <td><a href="/myapp/admindeletestudent/{{ i.id }}">Delete</a></td>#}
    </tr>
{#      {% endfor %}#}
  </table>
 </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script>
        $(document).ready(function () {
            $('#textfield').change(function () {
                var name = $(this).val();
                if (name) {
                    $.ajax({
                        url: '/myapp/searchStudent/',
                        data: { 'name': name },
                        dataType: 'json',
                        success: function (data) {
{#                            var courseSelect = $('#course');#}
                            var nm = $('#nm');
                            var ph = $('#ph');
{#                            courseSelect.empty();#}
{#                            nm.append('<option value="">Select a Course</option>');#}
                            $.each(data, function (key, value) {
{#                                                            alert(value.name);#}

                                nm.append(value.name);
                                ph.append('<img src="'+value.image+'" height="100px" width="100px">');
                            });
                        }
                    });
                } else {
                    $('#course').empty().append('<option value="">Select a Course</option>');
                }
            });
        });
</script>

</body>
{% endblock %}