<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/myapp/viewprofile/">view profile</a><br>
<a href="/myapp/authoritychangepassword/">change password</a><br>
<a href="/myapp/authorityviewstudent/">view Student</a><br>

<a href="/myapp/viewcheckin/">view student status</a><br>
<a href="/myapp/viewalert/">view alert </a><br>
<a href="/myapp/authoritytakeaction/">view authoritytakeaction </a><br>
<a href="/myapp/authorityviewfeedback/">view feedback </a><br>
<a href="/myapp/authoritysendnotification/">send notification </a><br>
<a href="/myapp/authoritysendmessage/">send message </a><br>

</body>
</html>