{% extends 'Admin/aindex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="/myapp/adminadddepartment_post/#about">
    {% csrf_token %}
    <table class="table table-bordered ">

    <tr>
      <td width="180px">Department Name</td>
      <td>
      <input type="text" name="textfield" id="textfield" pattern="[a-z A-Z]+" required class="form-control" /></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" name="button" id="button" value="Submit" class="btn btn-success" /></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}