
{% extends 'Admin/aindex.html' %}
{% block body %}

<body>
<form action="/myapp/adminaddstudent_post/#about" method="post" enctype="multipart/form-data" name="form1" id="form1">
    {% csrf_token %}
    <table class="table table-bordered ">
    <tr>
      <td>Name</td>
      <td>
      <input type="text" name="textfield" id="textfield"   pattern="[a-z A-Z]+"required class="form-control" /></td>
    </tr>

{#    <tr>#}
{#      <td>Course</td>#}
{#      <td><label for="select"></label>#}
{#        <select name="select" id="select">#}
{#            <option>--select---</option>#}
{#      </select></td>#}
{#    </tr>#}

      <tr>
      <td>Course</td>
      <td>
        <select name="select" id="select" required class="form-control">
            <option value="">---Select----</option>
            {% for i in data %}
            <option value="{{ i.id }}">{{ i.course }}</option>
            {% endfor  %}
      </select></td>
    </tr>


      <tr>
      <td>Semester</td>
      <td>
        <select name="semseter" id="select" required class="form-control">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>

      </select></td>
    </tr>


    <tr>
      <td>Phone Number</td>
      <td>
      <input type="text" name="textfield2" id="textfield2"  required pattern="[9876][0-9]{9}" max="10" class="form-control" /></td>
{#    </tr>#}
{#      <tr>#}
{#          <td>age</td>#}
{#      <td><label for="textfield2"></label>#}
{#      <input type="text" name="age" id="textfield2" /></td>#}
{#    </tr>#}
    <tr>
      <td width="180px">DOB</td>
      <td>
          <input type="date" max="{{ dt }}" name="select2" id="textfield" required class="form-control" />
{#        <select name="select2" id="select2">#}
{#      </select>#}
      </td>
    </tr>
    <tr>
      <td>Gender</td>
      <td> <select name="RadioGroup1" required class="form-control">
              <option value="Male">Male</option>
              <option value="Female">Female</option>
          </select></td>
    </tr>
    <tr>
      <td>Place</td>
      <td>
      <input type="text" name="textfield3" id="textfield3" pattern="[a-z A-Z]+" required  class="form-control"/></td>
    </tr>
    <tr>
      <td>City</td>
      <td>
      <input type="text" name="textfield4" id="textfield4"  pattern="[a-z A-Z]+"required class="form-control" /></td>
    </tr>
    <tr>
      <td>District</td>
      <td>
        <input type="text" name="select3" id="textfield" pattern="[a-z A-Z]+" required class="form-control">
            </td>
    </tr>
    <tr>
      <td>State</td>
      <td>
          <input type="text" name="select4" id="textfield4"  pattern="[a-z A-Z]+" required class="form-control" />
{#        <select name="select4" id="select4">#}
{#            <o#}
{#      </select>#}
      </td>
    </tr>
    <tr>
      <td>Pincode</td>
      <td>
      <input type="text" name="textfield5" id="textfield5" required pattern="[0-9]{6}" max="6" class="form-control" /></td>
    </tr>
    <tr>
      <td>E-mail</td>
      <td>
      <input type="email" name="textfield6" id="textfield6" pattern="[a-z/A-Z/0-9]{3,}[@][a-z/A-Z]{2,}[.][a-z/A-Z]
       {2}" class="form-control" /></td>
    </tr>
    <tr>
      <td>Parent Name</td>
      <td>
      <input type="text" name="textfield7" pattern="[a-z A-Z]+" id="textfield7" required class="form-control"/></td>
    </tr>
    <tr>
      <td>Parent Number</td>
      <td>
      <input type="text" name="textfield8" id="textfield8" required pattern="[9876][0-9]{9}" max="10" class="form-control" /></td>
    </tr>
     <tr>
      <td>Parent Email</td>
      <td>
      <input type="text" name="textfield18" id="textfield18" required  class="form-control" /></td>
    </tr>
    <tr>
      <td>Photo</td>
      <td>
      <input type="file" name="fileField" id="fileField" class="form-control" /></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" name="button" id="button" value="Submit" class="btn btn-success" /></td>
    </tr>
  </table>
</form>
</body>
{% endblock%}
