<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
    <a href="/myapp/adminchangepassword/">change password</a><br>
        <a href="/myapp/adminadddepartment/">add department</a><br>
    <a href="/myapp/adminviewdepartment/">view department</a><br>
    <a href="/myapp/adminaddcourse/">add course</a><br>
    <a href="/myapp/adminviewcourse/">view course</a><br>
    <a href="/myapp/adminaddstudent/">add student</a><br>
    <a href="/myapp/adminviewstudent/">view student</a><br>
    <a href="/myapp/adminaddstaff/">add staff</a><br>
    <a href="/myapp/adminviewstaff/">view staff</a><br>
    <a href="/myapp/adminaddauthority/">add authorityt</a><br>
    <a href="/myapp/adminviewauthority/">view authority</a><br>
    <a href="/myapp/adminaddincident/">add incident</a><br>
    <a href="/myapp/adminviewincident/">view incident</a><br>
    <a href="/myapp/adminviewfeedback/">view feedback</a><br>
    <a href="/myapp/adminviewcomplient/">view complaint</a>
</form>
</body>
</html>