{% extends 'Admin/aindex.html' %}
{% block body %}

<body>
<form action="/myapp/admineditstudent_POST/" method="post" enctype="multipart/form-data" name="form1" id="form1">
    {% csrf_token %}
   <table class="table table-bordered table-hover table-striped">
  <input type="hidden" name="id" value="{{ dt.id }}"/>
    <tr>
      <td>Name</td>
      <td>
      <input type="text" name="textfield" id="textfield" class="form-control" value="{{ dt.name }}"/></td>
    </tr>
    <tr>
      <td>Course</td>
      <td><label for="select"></label>
        <select name="select" id="select" class="form-control">
{#            <option value="">---Select----</option>#}
            {% for i in data %}
            <option value="{{ i.id }}" {% if dt.COURSE_id == i.id %}selected{% endif %}>{{ i.course }}</option>
            {% endfor  %}
      </select></td>
    </tr>

     <tr>
     <tr>
      <td>Semester</td>
      <td><label for="semseter"></label>
        <select name="semseter" id="select" required class="form-control">
            <option value="1" {% if dt.sem == '1' %}selected{% endif %}>1</option>
            <option value="2" {% if dt.sem == '2' %}selected{% endif %}>2</option>
            <option value="3" {% if dt.sem == '3' %}selected{% endif %}>3</option>
            <option value="4" {% if dt.sem == '4' %}selected{% endif %}>4</option>
            <option value="5" {% if dt.sem == '5' %}selected{% endif %}>5</option>
            <option value="6" {% if dt.sem == '6' %}selected{% endif %}>6</option>

      </select></td>
    </tr>
    <tr>
      <td>Phone Number</td>
      <td><label for="textfield2"></label>
      <input type="text" name="textfield2" id="textfield2" required pattern="[9876][0-9]{9}" max="10"class="form-control" value="{{ dt.phone_number }}" /></td>
    </tr>
    <tr>
      <td>DOB</td>
      <td>
      <input type="date" name="select2" id="textfield"required class="form-control" value="{{ dt.dob|date:"Y-m-d"}}"/>
      </td>
    </tr>
    <tr>
      <td>Gender</td>
      <td><p>
        <label>
          <input type="radio" name="RadioGroup1" value="Male" id="RadioGroup1_0" {% if dt.gender == 'Male' %}checked{% endif %}/>
          Male</label>
        <br />
        <label>
          <input type="radio" name="RadioGroup1" value="Female" id="RadioGroup1_1"{% if dt.gender == 'Female' %}checked{% endif %}/>
          Female</label>
        <br />
      </p></td>
    </tr>
    <tr>
      <td>Place</td>
      <td><label for="textfield3"></label>
      <input type="text" name="textfield3" id="textfield3"required class="form-control" value="{{ dt.place }}" /></td>
    </tr>
    <tr>
      <td>City</td>
      <td><label for="textfield4"></label>
      <input type="text" name="textfield4" id="textfield4" required class="form-control" value="{{ dt.city }}" /></td>
    </tr>
    <tr>
      <td>District</td>
      <td><label for="select3"></label>
        <input type="text" name="select3" id="textfield" required class="form-control"value="{{ dt.district}}" >
            </td>
    </tr>
    <tr>
      <td>State</td>
  <td><label for="select4"></label>
          <input type="text" name="select4" id="textfield4"required class="form-control" value="{{ dt.state }}" />
{#        <select name="select4" id="select4">#}
{#            <o#}
{#      </select>#}
      </td>
    </tr>
    <tr>
      <td>Pincode</td>
      <td><label for="textfield5"></label>
      <input type="text" name="textfield5" id="textfield5" required pattern="[0-9]{6}" max="6"  class="form-control" value="{{ dt.pincode }}" /></td>
    </tr>
    <tr>
      <td>E-mail</td>
      <td><label for="textfield6"></label>
      <input type="text" name="textfield6" id="textfield6" readonly class="form-control"value="{{ dt.e_mail }}" /></td>
    </tr>
    <tr>
      <td>Parent Name</td>
      <td><label for="textfield7"></label>
      <input type="text" name="textfield7" id="textfield7"required class="form-control" value="{{dt.parent_name }}" /></td>
    </tr>
    <tr>
      <td>Parent Number</td>
      <td><label for="textfield8"></label>
      <input type="text" name="textfield8" id="textfield8" required pattern="[9876][0-9]{9}" max="10" class="form-control" value="{{dt.parent_number  }}" /></td>
    </tr>
    <tr>
      <td>Photo</td>
      <td><img src="{{ dt.image }}" height="100px" width="100px">
      <input type="file" name="fileField" id="fileField" class="form-control" /></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" name="button" id="button" value="Submit" class="btn btn-success" /></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
