{% extends 'Admin/aindex.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="/myapp/adminViewViolence_post/#about">
    {% csrf_token %}
   <table class="pull-left">
    <tr>
      <td>From</td>
      <td>
      <input type="date" name="textfield" class="form-control" id="textfield" required class="form-control" /></td>
      <td>To</td>
      <td>
      <input type="date" name="textfield2" id="textfield2" required class="form-control" /></td>
      <td><input type="submit" name="button" id="button" value="Submit" class="btn btn-success" /></td>
    </tr>
  </table>

<br>
<br>
   <table class="table table-bordered table-hover table-striped">
    <tr>
      <th>Sno</th>
      <th>Date</th>
      <th>Time</th>
      <th></th>

    </tr>
      {% for i in data %}
    <tr>
        <td width="50px">{{ forloop.counter }}</td>
        <td>{{ i.date }}</td>
        <td>{{ i.time}}</td>

      <td width="50px"><a href="/myapp/adminViewIncludedFace/{{ i.id }}#about" class=" btn btn-success">Faces</a></td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
{% endblock %}

