{% extends 'Admin/aindex.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="/myapp/adminviewdepartment_post/#about">
    {% csrf_token %}
    <table class="pull-left">
    <tr>
      <td>
      <input type="text"  placeholder="Search by department" name="textfield" id="textfield" required  class="form-control" /></td>
      <td><input type="submit"  class="btn btn-success"value="search"/></td>
    </tr>
  </table>
<br>
<br>
   <table class="table table-bordered ">
    <tr>
      <th>Sno</th>
      <th>Department name</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
      {% for i in data %}
    <tr>
      <td width="50px">&nbsp;{{ forloop.counter }}</td>
      <td>&nbsp;{{ i.department }}</td>
      <td width="50px"><a href="/myapp/admineditdepartment/{{ i.id }}" class=" btn btn-success">Edit</a></td>
      <td width="50px"><a href="/myapp/admindeletedepartment/{{ i.id }}" class=" btn btn-danger">Delete</a></td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
{% endblock %}
